body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2c3e50;
  color: white;
}
header img{
  max-height: 50px;
  width: auto;
  display: block;
}
nav ul{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  align-content: center;
}
nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
main{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 29px;
}
h2{
  margin-left: 10px;
}

/*---------------------------Acciones---------------------------------*/
.acciones{
  display: block;
  flex: 2;
}

.acciones ul {
  list-style: none;       
  padding: 0;
  margin: 0;
}


.acciones ul li {
  margin: 10px 0; 
}

.acciones ul li a {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  text-decoration: none;
  color: white;
  background-color: #2c3e50;
  padding: 15px 20px;      
  border-radius: 8px;      
  font-weight: bold;
  
}
.acciones ul li a:hover {
  background-color: #1abc9c;
  color: white;
}
/*---------------Lista-------------------------------------------*/
.lista{
  display: block;
  flex: 8;
}

.lista ul {
  list-style: none;       
  padding: 0;
  margin: 0;
}

.lista ul li {
  margin: 10px 0; 
}

.lista ul li a {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 15px 20px;      
  border-radius: 8px;      
  font-weight: bold;
}
.lista ul li a:hover{
  background-color: black;

}

/*---------------Footer-------------------------------------------*/
footer {
  background-color: gray;
  height: 100px;
  padding: 30px;
}
